*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:arial;
	font-weight:bold;
	transition:all 0.2s ease-in-out;
}
.header
{
/*	border:1px solid red;*/
	height:70px;
	display:flex;
	justify-content:space-around;
	padding:10px 0px;
}
.header .logo
{
/*	border:1px solid black;*/
/*	width:300px;*/
/*	height:100%;*/
}
.header .logo img
{
	width:100%;
	height:100%;
}
.loction-contanier
{
/*	border:2px solid black;*/
/*	width:600px;*/
/*	height: 100%;*/
	display:flex;
	gap:30px;
	align-items:center;
}
.loction
{
/*	border:1px solid red;*/
/*	height:100%;*/
/*	width:30%;*/
	display:flex;
	align-items:center;
	gap:10px;
}
.loction img
{
	width:25px;
}
.adderss
{
/*	border:2px solid black;*/
/*	width:70%;*/
/*	height:100%;*/
	display:flex;
	align-items:center;
	gap:10px;
}
.adderss img
{
	width:25px;
}
.link-contanier
{
/*    border:2px solid;*/
    background:#fff;
/*	height:70px;*/
    width:100%; 
	display:flex;
	align-items:center;
	justify-content:space-around;
/*	position:sticky !important;*/
	top:0px;
	z-index:1;
}
.links
{
/*	border:1px solid red;*/
/*	width:70%;*/
/*	height:100%;*/
	display:flex;
	align-items:center;
	justify-content:center;
	gap:20px;
	font-size:16px;
}
.links a
{
	text-decoration:none;
	color:black;
	font-size:13px;
	display:flex;
	align-items: center;
}
.links a:hover
{
	color:#174c97;
}
.links a img
{
	width:20px;
	height:20px;
}
#contact
{
	color:#174c97;
}
.btn button
{
	padding:20px 25px;
	background:#fecd1a;
	border:none;
	width:200px;
}
.btn button a
{
	color:#000;
	text-decoration:none;
}
.btn button:hover
{
	border-radius:0px 10px 0px 10px;
	background:#000;

}
.btn button:hover a
{
	color:#fff;
}
.setting
{
	background:blue;
	width:50px;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	top:110px;
	z-index:1;
}
.setting img
{
	  width: 25px;
	filter:invert(100%);
    animation: rotate 2s linear infinite;
	
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.empty  {
  	border:2px solid #fecd1a;
}
#image
{
	height:450px;
}

           /*home-overlay start*/
#active
{
	position:relative;
}
#active:hover .home-overlay
{
	display:block;
}
.home-overlay
{
	position:absolute;
	top:15px;
	left:-50px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:150px;
     background:#fff;
   border-top:2px solid #fecd1a;
}
.home-overlay h1
{
	font-size:12px;
}
.home-overlay h1:hover
{
	color:#174c97;
}

            /*project-overlay*/

#project
{
	position:relative;
}
#project:hover .project-overlay
{
	display:block;
}
.project-overlay
{
	position:absolute;
	top:15px;
	left:-30px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:150px;
      background:#fff;
   border-top:2px solid #fecd1a;
}
.project-overlay h1
{
	font-size:12px;
}
.project-overlay h1:hover
{
	color:#174c97;
}

           /*service-overlay*/

#service
{
	position:relative;
}
#service:hover .service-overlay
{
	display:block;
}
.service-overlay
{
	position:absolute;
	top:15px;
	left:-60px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:200px;
      background:#fff;
   border-top:2px solid #fecd1a;
}
.service-overlay h1
{
	font-size:12px;
}
.service-overlay h1:hover
{
	color:#174c97;
}

               /*shop=overlay*/

#shop
{
	position:relative;
}
#shop:hover .shop-overlay
{
	display:block;
}
.shop-overlay
{
	position:absolute;
	top:15px;
	left:-60px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:150px;
     background:#fff;
   border-top:2px solid #fecd1a;
}
.shop-overlay h1
{
	font-size:12px;
}
.shop-overlay h1:hover
{
	color:#174c97;
}

        /*blog-overlay*/

#blog
{
	position:relative;
}
#blog:hover .blog-overlay
{
	display:block;
}
.blog-overlay
{
	position:absolute;
	top:15px;
	left:-50px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:130px;
     background:#fff;
   border-top:2px solid #fecd1a;
}
.blog-overlay h1
{
	font-size:12px;
}
.blog-overlay h1:hover
{
	color:#174c97;
}

           /*contact-overlay*/

#contact
{
	position:relative;
}
#contact:hover .contact-overlay
{
	display:block;
}
.contact-overlay
{
	position:absolute;
	top:15px;
	left:-30px;
	color:#000;
	display:none;
   z-index:1;
   padding: 10px 20px;
   width:150px;
      background:#fff;
   border-top:2px solid #fecd1a;
}
.contact-overlay h1
{
	font-size:12px;
}
.contact-overlay h1:hover
{
	color:#174c97;
}
.slider
{
	height:300px;
	position:relative;
}
.slider  img
{
	width:100%;
	height:100%;
}
.overlay
{
	position:absolute;
	top:80px;
	left:50px;
	font-size:50px;
}
.titel
{
/*	border:1px solid red;*/
/*	height:150px;*/
    padding:20px 0px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size:40px;
}
.border
{
	width:200px;
	border:2px solid #fecd1a !important;
}
.contact-address
{
/*	border:1px solid red;*/
/*	height:600px;*/
	display:flex;
	padding:10px;
}
.our-contact
{
/*	border:1px solid black;*/
	width:60%;
	padding:60px;
	box-shadow:0px 10px 20px rgba(0, 0, 0, 0.3);
}
input
{
	width:40%;
	height:45px;
	padding:10px;
	border:none;
	background:rgba(0, 0, 0, 0.1);
    font-size:14px;
    outline:none;
}
#email-input
{
	margin-top:20px;
}
textarea
{
	width:90%;
	height:200px;
	margin-top:20px;
	background:rgba(0, 0, 0, 0.1);
	padding:10px;
	border:none;
	outline:none;
}
button
{
	background:#fecd1a;
	color:#000;
	width:90%;
	padding:20px 25px;
	margin-top:20px;
	font-size:18px;
	border:none;
}
button:hover
{
	background:black;
	color:#fff;
	border-radius:0px 10px 0px 10px;
}
.our-address
{
/*	border:1px solid black;*/
	width:40%;
	position:relative;
    padding:60px;
/*    font-size:25px;*/
}
.our-address p img
{
	width:20px;
}
.our-address p
{
	font-size:16px;
}
.round
{
  width:150px;
  height:150px;
/*  background:red;*/
  border-radius:100%;
  position:absolute;
  top:-100px;
  right:0px;
}
.round img
{
	width:100%;
	height:100%;
	animation: scale 2s linear infinite;
	
}
@keyframes scale {
    from {
        transform:scale(1.0);
    }
    to {
        transform:scale(1.1);
    }
}
.footer
{
	background:blue;
/*	height:500px;*/
	display:flex !important;
	padding:20px;
}
.footer .card
{
/*	border:1px solid red;*/
	width:25%;
	height:100%;
	background:none;
	color:#fff;
	padding:30px;
	border: none;
}
.footer .card p
{
	color:#b8b1b1;
	cursor:pointer;
}
.footer .card p:hover
{
	color:#fff;
}
iframe
{
	width:100%;
	height:300px;
	margin-top:30px;
}
.icon
{
/*	border:1px solid red;*/
	display:flex;
	gap:20px;
}
.icon-card
{
	width:50px;
	height:50px;
	border-radius:100%;
/*	background:blueviolet;*/
    border:1px solid rgba(0, 0, 0, 0.3);
	display:flex;
	align-items:center;
	justify-content:center;
}
.icon-card img
{
	width:30px;
	height:30px;
}
.icon-card:hover
{
	background:#fecd1a;
	cursor:pointer;
}
.made
{
/*	border:1px solid red;*/
	height:50px;
	background:blue;
	text-align:center;
	color:#b8b1b1;
}
.made a
{
	color:#fff;
	text-decoration:none;
}









